.testimonial-group > .row {
    overflow-x: auto;
    display: flex;
   flex-wrap: nowrap;
    text-overflow: ellipsis;
  }
  .testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
    
  
    word-wrap: break-word;
  }
  .card-container{
      
      flex: 1;
  }
  .card-text{
    line-height:5px;
  }
  /* Decorations */
 